<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ws1415.veranstalterapp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyApuZLPxk_RgFsWATD-eC6V6YpS6C8vUiE" />

        <activity
            android:name=".HoldTabsActivity"
            android:label="@string/title_activity_start_page"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RouteEditorActivity"
            android:label="@string/title_activity_route_editor"
            android:parentActivityName=".HoldTabsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ws1415.veranstalterapp.HoldTabsActivity" />
        </activity>
        <activity
            android:name=".ChooseRouteActivity"
            android:label="@string/title_activity_choose_route"
            android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>
        <activity
            android:name=".ShowRouteActivity"
            android:label="@string/title_activity_show_route"
            android:parentActivityName=".HoldTabsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ws1415.ps1415.HoldTabsActivity" />
        </activity>
        <activity
            android:name=".AddRouteDialog"
            android:label="@string/title_activity_add_route_dialog"
            android:theme="@android:style/Theme.Holo.Dialog">
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>
