<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ws1415.ps1415" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="ws1415.ps1415.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="ws1415.ps1415.permission.C2D_MESSAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:name=".ApplicationStartupHandler"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.OldShowRouteActivity"
            android:label="@string/title_activity_show_route"
            android:parentActivityName=".activity.ActiveEventActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ws1415.ps1415.activity.ActiveEventActivity" />
        </activity>
        <activity
            android:name=".activity.ShowRouteActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_show_route" >
        </activity>

        <service
            android:name=".LocationTransmitterService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.ListEventsActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:label="@string/title_activity_show_events" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ActiveEventActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_active_event"
            android:parentActivityName=".activity.ListEventsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListEventsActivity" />
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_settings" />

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="ws1415.ps1415" />
            </intent-filter>
        </receiver>
        <receiver android:name=".LocationTransmitterService$StartServiceReceiver" />
        <receiver android:name=".LocationTransmitterService$CancelServiceReceiver" />

        <service android:name=".GcmIntentService" />

        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".activity.ProfileActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListEventsActivity" />
        </activity>
        <activity
            android:name=".activity.EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:parentActivityName=".activity.ProfileActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ws1415.ps1415.activity.ProfileActivity" />
        </activity>
        <activity
            android:name=".activity.SearchActivity"
            android:label="@string/title_activity_search"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ShowEventActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ws1415.ps1415.activity.ListEventsActivity" />
        </activity>
        <activity
            android:name=".activity.FriendsActivity"
            android:label="@string/title_activity_friend"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MessagingActivity"
            android:label="@string/title_activity_messaging"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ConversationActivity"
            android:label="@string/title_activity_conversation"
            android:parentActivityName=".activity.MessagingActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ws1415.ps1415.activity.MessagingActivity" />
        </activity>
        <activity
            android:name=".activity.ListUserGroupsActivity"
            android:label="@string/title_activity_list_user_groups"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_groups" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GroupProfileActivity"
            android:label="@string/title_activity_group_profile"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.EventParticipantsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_event_participants"
            android:parentActivityName=".activity.ShowEventActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ws1415.ps1415.activity.ShowEventActivity" />
        </activity>
        <activity
            android:name=".activity.ListPicturesActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/title_activity_list_pictures" >
        </activity>
        <activity
            android:name=".activity.EditPictureActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.ListPicturesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListPicturesActivity" />
        </activity>
        <activity
            android:name=".activity.ShowPictureActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DistributeRightsActivity"
            android:label="@string/title_activity_distribute_rights"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.GroupProfileActivity" />
        </activity>
        <activity
            android:name=".activity.InviteUsersToGroupActivity"
            android:label="@string/title_activity_invite_users_to_group"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.GroupProfileActivity" />
        </activity>
        <activity
            android:name=".activity.MyUserGroupsActivity"
            android:label="@string/title_activity_my_user_groups"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.CommentBlackBoardActivity"
            android:label="@string/title_activity_comment_black_board"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.GroupProfileActivity" />
        </activity>
        <activity
            android:name=".activity.PostBlackBoardActivity"
            android:label="@string/title_activity_post_black_board"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar">
        </activity>
        <activity android:name=".dialog.FullscreenPictureViewer"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
    </application>

</manifest>
