<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ws1415.ps1415" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="20"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ExampleActivity"
            android:label="@string/title_activity_example" >
        </activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
