<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ws1415.ps1415">

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

    </application>

</manifest>
