<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
   <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value>ws1415.SkatenightBackend.EventEndpoint,ws1415.SkatenightBackend.UserEndpoint,ws1415.SkatenightBackend.HostEndpoint,ws1415.SkatenightBackend.GroupEndpoint,ws1415.SkatenightBackend.RouteEndpoint,ws1415.SkatenightBackend.GalleryEndpoint,ws1415.SkatenightBackend.RoleEndpoint,ws1415.SkatenightBackend.MessageEndpoint,ws1415.SkatenightBackend.RightEndpoint</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EventStartServlet</servlet-name>
        <servlet-class>ws1415.SkatenightBackend.EventStartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EventStartServlet</servlet-name>
        <url-pattern>/cron/sendEventStartNotifications</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>


    <!-- Objectify -->
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>ObjectifyStartupServlet</servlet-name>
        <servlet-class>ws1415.SkatenightBackend.ObjectifyStartupServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>


    <!-- Blobstore Handler -->
    <servlet>
        <servlet-name>BlobstoreHandler</servlet-name>
        <servlet-class>ws1415.SkatenightBackend.BlobstoreHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlobstoreHandler</servlet-name>
        <url-pattern>/images/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlobstoreHandler</servlet-name>
        <url-pattern>/images/serve</url-pattern>
    </servlet-mapping>

    <!-- Blobstore Handler for Userpictures -->
    <servlet>
        <servlet-name>UserBlobstoreHandler</servlet-name>
        <servlet-class>ws1415.SkatenightBackend.UserBlobstoreHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserBlobstoreHandler</servlet-name>
        <url-pattern>/userImages/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserBlobstoreHandler</servlet-name>
        <url-pattern>/userImages/serve</url-pattern>
    </servlet-mapping>


    <!-- Listener für Server-Start -->
    <listener>
        <listener-class>ws1415.SkatenightBackend.ServerStartListener</listener-class>
    </listener>
</web-app>